.App-header {
  text-align: center;
  font-size: 0.6rem;

  color: var(--light-mode-text);

  margin-top: 20px;
  margin-bottom: 20vh;
}

.left-header-title {
  position: absolute;
  left: -5px;
  top: 55%;
  transform: translate(-50%, -30%);
  letter-spacing: 2px;
}
.right-header-title {
  position: absolute;
  right: -28px;
  top: 55%;
  transform: translate(-50%, -30%);
  letter-spacing: 3px;
}

.logo-container {
  width: 40px;
  margin: 0 auto;
  position: relative;
  .logo {
  }
}

// #box {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   width: 60%;
//   height: 80px;
//   color: white;
//   font-size: 1.5rem;
// }
// .gradient-border {
//   --borderWidth: 3px;

//   position: relative;
//   border-radius: var(--borderWidth);
// }
// .gradient-border:after {
//   content: '';
//   position: absolute;
//   top: calc(-1 * var(--borderWidth));
//   left: calc(-1 * var(--borderWidth));
//   height: calc(100% + var(--borderWidth) * 2);
//   width: calc(100% + var(--borderWidth) * 2);
//   background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
//   border-radius: calc(2 * var(--borderWidth));
//   z-index: -1;
//   animation: animatedgradient 8s ease-in-out infinite;
//   background-size: 300% 300%;
// }

// @keyframes animatedgradient {
// 	0% {
// 		background-position: 0% 50%;
// 	}
// 	50% {
// 		background-position: 100% 50%;
// 	}
// 	100% {
// 		background-position: 0% 50%;
// 	}
// }
