.add-task {
  width: 40px;
  height: 40px;

  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 3rem;
  font-weight: 300;

  color: var(--dark-mode-text);

  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0);

  background: -webkit-linear-gradient(
    to right,
    #ffa751,
    #ffe259
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffa751,
    #ffe259
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  &__icon {
    margin-bottom: 2px;
  }
}
.task-form {
  display: none;

  width: 100%;

  &__input {
    width: 80%;
    height: 20px;
    background: none;

    outline: none;

    border: none;
    border-left: 3px solid #91ff00;

    padding-left: 5px;

    color: var(--dark-mode-text);
    font-weight: bold;
    font-size: 0.9rem;

    margin: 1px 0;
  }
  &__submit {
    width: 20%;
    height: 100%;
  }
}

.display {
  display: block;
}
